{% macro title(config, data) %}
  {% if data.title %}
    <h2 class="component-title
    {% if config.mgAll %}mg-all-{{ config.mgAll }}{% endif %}
    {% if config.mgBoth %}mg-both-{{ config.mgBoth }}{% endif %}
    {% if config.mgSides %}mg-sides-{{ config.mgSides }}{% endif %}
    {% if config.mgTop %}mg-top-{{ config.mgTop }}{% endif %}
    {% if config.mgBottom %}mg-bottom-{{ config.mgBottom }}{% endif %}
    {% if config.mgLeft %}mg-left-{{ config.mgLeft }}{% endif %}
    {% if config.mgRight %}mg-right-{{ config.mgRight }}{% endif %}
    {% if config.padAll %}pad-all-{{ config.padAll }}{% endif %}
    {% if config.padBoth %}pad-both-{{ config.padBoth }}{% endif %}
    {% if config.padSides %}pad-sides-{{ config.padSides }}{% endif %}
    {% if config.padTop %}pad-top-{{ config.padTop }}{% endif %}
    {% if config.padBottom %}pad-bottom-{{ config.padBottom }}{% else %}20{% endif %}
    {% if config.padLeft %}pad-left-{{ config.padLeft }}{% endif %}
    {% if config.padRight %}pad-right-{{ config.padRight }}{% endif %}
    montserrat-{% if config.textBold %}{{ config.textBold }}{% else %}medium{% endif %}
    cl-{% if config.textColor %}{{ config.textColor }}{% else %}primary{% endif %}
    {% if config.textSize %}text-{{ config.textSize }}{% endif %}
    {% if config.textAlign %}text-{{ config.textAlign }}{% endif %}
    {% if config.uppercase %}uppercase{% endif %}
    {% if config.border %}border{% endif %}
    ">
    {{ data.title }}
    </h2>
  {% endif %}
{% endmacro %}
