@import 'deps';

.component-title {
  @include font(35);
  margin: 0;
  position: relative;

  &.border {
    &::after {
      background-color: lighten(map-get($colors, 'gray'), 40%);
      bottom: 0;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
}
