//===============================================
//                Generator of background extends
//===============================================
@each $name in map-keys($colors) {
  %bg-#{$name} {
    background: map-get($colors, $name);
  }
}


//===============================================
//                     Generator of color extends
//===============================================
@each $name in map-keys($colors) {
  %cl-#{$name} {
    color: map-get($colors, $name);
  }
}


//===============================================
//                      Generator of font extends
//===============================================
@each $font in map-keys($fonts) {
  $the-font: map-get($fonts, $font);
  %#{$the-font} { font-family: '#{$font}'; }
}
