.hidden { display: none; }

.overflow-hidden { overflow: hidden; }

.uppercase { text-transform: uppercase; }

.on-bold { @extend %montserrat-bold; }

.img-responsive { max-width: 100%; }

.pointer { cursor: pointer; }

.p0 { padding: 0; }

.m0 { margin: 0; }
