@import 'deps';

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

html,
body {
  font-family: 'Montserrat-Regular';
}

ul { list-style: none; }

a { text-decoration: none; }

textarea {
  resize: none;
}
