{% macro button(config, data) %}

  <div class="component-button row
    {% if config.mgAll %}mg-all-{{ config.mgAll }}{% endif %}
    {% if config.mgSides %}mg-sides-{{ config.mgSides }}{% endif %}
    {% if config.mgBoth %}mg-both-{{ config.mgBoth }}{% endif %}
    {% if config.mgTop %}mg-top-{{ config.mgTop }}{% endif %}
    {% if config.mgBottom %}mg-bottom-{{ config.mgBottom }}{% endif %}
    {% if config.mgLeft %}mg-left-{{ config.mgLeft }}{% endif %}
    {% if config.mgRight %}mg-right-{{ config.mgRight }}{% endif %}
    {% if config.padAll %}pad-all-{{ config.padAll }}{% endif %}
    {% if config.padSides %}pad-sides-{{ config.padSides }}{% endif %}
    {% if config.padBoth %}pad-both-{{ config.padBoth }}{% endif %}
    {% if config.padTop %}pad-top-{{ config.padTop }}{% endif %}
    {% if config.padBottom %}pad-bottom-{{ config.padBottom }}{% endif %}
    {% if config.padLeft %}pad-left-{{ config.padLeft }}{% endif %}
    {% if config.padRight %}pad-right-{{ config.padRight }}{% endif %}
    {% if config.horizontalAlign %}halign-{{ config.horizontalAlign }}{% endif %}
    {% if config.verticalAlign %}valign-{{ config.verticalAlign }}{% endif %}
    {% if config.columnAlign %}flex-column{% endif %}
  ">
    {% for datas in data %}

      <a href="{{ datas.href }}" class="searchJS
      btn-{% if datas.type %}{{ datas.type }}{% else %}default{% endif %}
      {% if datas.mgAllItem %}mg-all-{{ datas.mgAllItem }}{% endif %}
      {% if datas.mgSidesItem %}mg-sides-{{ datas.mgSidesItem }}{% endif %}
      {% if datas.mgBothItem %}mg-both-{{ datas.mgBothItem }}{% endif %}
      {% if datas.mgTopItem %}mg-top-{{ datas.mgTopItem }}{% endif %}
      {% if datas.mgBottomItem %}mg-bottom-{{ datas.mgBottomItem }}{% endif %}
      {% if datas.mgLeftItem %}mg-left-{{ datas.mgLeftItem }}{% endif %}
      {% if datas.mgRightItem %}mg-right-{{ datas.mgRightItem }}{% endif %}
      {% if datas.padAllItem %}pad-all-{{ datas.padAllItem }}{% endif %}
      {% if datas.padSidesItem %}pad-sides-{{ datas.padSidesItem }}{% endif %}
      {% if datas.padBothItem %}pad-both-{{ datas.padBothItem }}{% endif %}
      {% if datas.padTopItem %}pad-top-{{ datas.padTopItem }}{% endif %}
      {% if datas.padBottomItem %}pad-bottom-{{ datas.padBottomItem }}{% endif %}
      {% if datas.padLeftItem %}pad-left-{{ datas.padLeftItem }}{% endif %}
      {% if datas.padRightItem %}pad-right-{{ datas.padRightItem }}{% endif %}
      bg-{% if datas.bgColor %}{{ datas.bgColor }}{% elif datas.type === 'outline' %}black{% elif datas.type === 'link' %}transparent{% else %}primary{% endif %}
      cl-{% if datas.textColor %}{{ datas.textColor }}{% else %}primary{% endif %}
      {% if datas.textUppercase %}uppercase{% endif %}
      {% if datas.textSize %}text-{{ datas.textSize }}{% endif %}
      {% if datas.pdf %}gerar-pdf{% endif %}
      {% if datas.pdfExecutor %}gerar-pdf-executor{% endif %}
      {% if datas.textBold %}montserrat-semi-bold{% endif %}"
      {% if datas.openModal %}open-modal="{{ datas.openModal }}"{% endif %}
      {% if datas.close %}close-modal=""{% endif %}>
        {{ datas.text }}
      </a>

    {% endfor %}
  </div>
{% endmacro %}
