// sass-lint:disable nesting-depth

@import 'deps';

.component-button {

  // Button Default
  .btn-default {
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    min-height: 40px;
    min-width: 80px;
    outline: none;
    text-decoration: none;
    transition: .5s;

    @each $color in map-keys($colors) {
      $the-color: map-get($colors, $color);

      &.bg-#{$color} {
        &:not(.btn-outline) {
          background: map-get($colors, $color);
          color: map-get($colors, 'white');

          &:focus,
          &:hover {
            background: darken(map-get($colors, $color), 10%);
          }
        }
      }
    }
  }


  // Button Outline
  @each $color in map-keys($colors) {
    $the-color: map-get($colors, $color);

    .btn-outline {
      align-items: center;
      background: transparent;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      min-height: 40px;
      min-width: 80px;
      outline: none;
      text-decoration: none;
      transition: .5s;

      &.bg-#{$color} {
        border: 1px solid $the-color;
        color: $the-color;

        &:not(.btn-outline) {
          background: map-get($colors, $color);
          color: map-get($colors, 'white');

          &:focus,
          &:hover {
            background: darken(map-get($colors, $color), 10%);
          }
        }

        &:focus,
        &:hover {
          background: $the-color;
          color: map-get($colors, 'white');
        }
      }
    }
  }


  // Button Link
  .btn-link {
    text-decoration: none;
    transition: .5s;

    &:hover {
      @each $name in map-keys($colors) {
        &.cl-#{$name} {
          color: darken(map-get($colors, $name), 10%);
        }
      }
    }
  }
}
