<meta charset="utf-8">
<meta name="robots" content="NOINDEX, NOFOLLOW">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{% if pagename %}{{ pagename }} | {% endif %}Project</title>

<!-- inject:css -->
<!-- endinject -->
