//===============================================
//        Generator of font family and font class
//===============================================
@each $font in map-keys($fonts) {
  @font-face {
    font-family: '#{$font}';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/#{$font}.eot'),
    url('../fonts/#{$font}.eot#iefix') format('embedded-opentype'),
    url('../fonts/#{$font}.ttf') format('truetype'),
    url('../fonts/#{$font}.woff') format('woff'),
    url('../fonts/#{$font}.svg') format('svg');
  }

  // generating font class
  $the-font: map-get($fonts, $font);
  .#{$the-font} { font-family: '#{$font}'}
}


//===============================================
//                  Generator of background class
//===============================================
@each $name in map-keys($colors) {
  .bg-#{$name} {
    background: map-get($colors, $name);
  }
}


//===============================================
//                       Generator of color class
//===============================================
@each $name in map-keys($colors) {
  .cl-#{$name} {
    color: map-get($colors, $name);
  }
}
