{# -------------- #}
{% set pagename = "Home" %}
{# -------------- #}

{% extends "default.njk" %}

{% block header %}

{% endblock %}

{% block content %}

{{
  title(
    config = {
      border: true,
      uppercase: false,
      padBottom: 10
    },
    data = {
      title: 'Title'
    }
  )
}}

{% endblock %}
