{# Import macros #}
{% block macros %}
  {% from "button/macro.njk" import button %}
  {% from "title/macro.njk" import title %}
{% endblock %}

<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      {% include "head/template.njk" %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}

    <!-- inject:js -->
    <!-- endinject -->
  </body>
</html>
